<p class="fields">
  <%= f.label :name, "Exercise" %><br/>
  <%= f.text_field :name %><br />
  <%= f.check_box :_destroy %>
  <%= f.label :_destroy, "Remove Exercise" %>
</p>

<!-- check_box :_destroy -->

<!-- f.text_field :exercise_name -->