<div class="container">
  <div class="container meat">
    <div class="row-fluid">
      <div class="row-fluid">
        <span class="span2"></span>
        <span class="span7">
          <h1 class="title">WorkOut<span class="ny">App</span></h1>
        </span>
      </div>
      <div class='row-fluid'>
        <span class='span2'></span>
        <span class=''>
          <%= link_to 'Sign up', new_user_registration_path, :class => 'span7 sign_up btn btn-danger' %>
        </span>
      </div>
      <div class='row-fluid'>
        <span class='span2'></span>
        <span class=''>
          <%= link_to 'Login', new_user_session_path, :class => 'span7 login btn btn-info' %>
        </span>
      </div>
      <div class='row-fluid'>
        <span class='span2'></span>
        <span class='span7 steven'>
          Created By Steven Brooks
        </span>
      </div>
    </div>
  </div>
</div>