

.container
  .container.meat
    .row-fluid
      .row-fluid
        %span.span2
        %span
          %h1.span7.title Workout 
          %span.ny
      .row-fluid
        %span.span2
        %span 
          %= link_to "Sign up", new_user_registration_path, :class => "span7 sign_up btn btn-danger"
      .row-fluid
        %span.span2
        %span
          %= link_to "Login", new_user_session_path, :class => "span7 login btn btn-info"
      .row-fluid
        %span.span2
        %span
          %p.span7.steven Created By Steven Brooks